.blog__content {
    overflow: auto;
    background: white;
    border-radius: 3px;
    margin: 60px auto;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 8px rgba(0,0,0,0.1);
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 26px;
}
