.homepage-section-leaving-soon {
	padding-top: 60px;
	padding-bottom: 100px;
	text-align: center;

	.leaving-soon-two {
		display: none;
		@include respond-to(tablet) {
			display: block;
		}
	}

	.leaving-soon-three {
		display: none;
		@include respond-to(desktop) {
			display: block;
		}
	}
}


.homepage-section-services {
	background-color: $grey--lighter;
	display: flex;
	justify-content: center;
	text-align: center;
}


.homepage-section-video {
	position: relative;
	height: 550px;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		max-height: 550px;
	}
}


.homepage-section-news {
	text-align: center;
	padding-top: 60px;
    padding-bottom: 100px;
}

.homepage__search-bar {
		margin: 0 auto;
		max-width: 600px;
}
