
// /*------------------------------------*\
//     $ COLORS
// \*------------------------------------*/

$white: #fff;
$black: #000;



$grey--darker: #4f5d6b;
$grey: #72808E;
$grey--lighter: #93a1af;
$grey--lighter-2: #e0e0e0;
$grey--lighter-3: #f5f5f5;
$grey--lighter-4: #f9f9f9;


$primary: #0091EA;
$primaryAccent: #0091EA;
$primaryAccent--light: #80D8FF;

// /*------------------------------------*\
//     $ TEMPLATE COLORS
// \*------------------------------------*/

// /*------------------------------------*\
//     $ LINKS
// \*------------------------------------*/

// /*------------------------------------*\
//     $ TEMPLATE SETTINGS
// \*------------------------------------*/

// /*------------------------------------*\
//     $ FONTS
// \*------------------------------------*/

// /*------------------------------------*\
//     $ CSS WIZARDY-GRIDS
// \*------------------------------------*/
$gutter: 26px;

$breakpoints: (
    'less-mobile': '(max-width: 479px)',
    'mobile': '(min-width: 480px)',
    'less-tablet': '(max-width: 767px)',
    'tablet': '(min-width: 768px)',
    'less-desktop': '(max-width: 1023px)',
    'desktop': '(min-width: 1024px)',
    'less-wide': '(max-width: 1149px)',
    'wide': '(min-width: 1150px)',
    'less-full': '(max-width: 1599px)',
    'full': '(min-width: 1600px)',

    // custom breakpoints
    'wide-menu': '(min-width: 1670px)'
);

// Make Breakpoints available in the grid system. Is used also for hiding
$push: true;
$pull: false;
$breakpoint-has-widths: ('less-mobile', 'mobile', 'less-tablet', 'tablet', 'less-desktop', 'desktop', 'less-wide', 'wide', 'less-full', 'full');
$breakpoint-has-push:   ('tablet', 'desktop', 'wide');
$breakpoint-has-pull:   ();
$print: true;
$hide: true;
