.hide {
    opacity: 0;
}

.noscroll {
    overflow-y: hidden;
    height: 100%;
}

.display-none {
    display: none;
}

.up-trend {
    color: $positiveMovement !important;
}

.down-trend {
    color: $negativeMovement !important;
}
