{% load static %}

<div class="footer section">
    <div class="container">
        <div class="footer__container">

            <div class="footer__item-group">
                <div class="heading__small">MemeX</div>
                <p>Blog</p>
                <p>FAQ</p>
                <p>Contact</p>
            </div>

            <div class="footer__item-group">
                <div class="heading__small">Title</div>
                <p>Something</p>
                <p>Something Else</p>
            </div>


            <div class="footer__item-group footer__item-group--right">
                <div class="heading__small">MemeX</div>
                <p>Built with <3</p>
                <p>© 2017 MemeX</p>
            </div>

        </div>
    </div>
</div>
