.blog-card {
    margin: 20px;
    color: $black;
    text-align: justify;
    display: block;
    text-decoration: none;
    border: 1px solid $grey--lighter-2;
    border-radius: 5px;

    background: $white;

    &:hover {
        text-decoration: none;
        // border-radius: 10px;
        // background: linear-gradient(to bottom right, rgba(255,255,255, 0.3), rgba(0, 0, 0, 0.1))
    }

    @include respond-to(less-desktop) {
        margin: 10px;
    }

    img {
        width: 100%;
        height: auto;
    }

    .blog-text {
        text-align: center;
        padding: 20px;
    }

    .blog-img {
        height: 250px;

        background-size:cover;
        background-position:50% 50%;

        width: 100%;
        height: 208px;
        margin: 0 auto;
    }

}
