.jumbotron {
    background-color: $test;
  	margin-bottom: 20px;
  	position: relative;

    height: 500px;
  	display: flex;
  	text-align: center;
  	flex-direction: column;
  	justify-content: center;

  	p {
        color: $white;
  		  margin-top: 0;
  	}
}
