div.menu-bg {
    z-index: 10;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  	background: $primary;
  	opacity: 0;
  	-webkit-transition: all 250ms cubic-bezier(0.99, 0.000, 0.990, 0.001);
  	-moz-transition: all 250ms cubic-bezier(0.99, 0.000, 0.990, 0.001);
      -ms-transition: all 250ms cubic-bezier(0.99, 0.000, 0.990, 0.001);
  	-o-transition: all 250ms cubic-bezier(0.99, 0.000, 0.990, 0.001);
  	transition: all 250ms cubic-bezier(0.99, 0.000, 0.990, 0.001);
}

div.menu-bg--white-nav {
    background: $white;
}

div.menu-bg.animate {
    min-width: 100%;
    min-height: 100%;
  	opacity:0.98;
  	-webkit-transition: all 250ms cubic-bezier(0.000, 0.001, 0.002, 1.000);
  	-moz-transition: all 250ms cubic-bezier(0.000, 0.001, 0.002, 1.000);
    -ms-transition: all 250ms cubic-bezier(0.000, 0.001, 0.002, 1.000);
    -o-transition: all 250ms cubic-bezier(0.000, 0.001, 0.002, 1.000);
  	transition: all 250ms cubic-bezier(0.000, 0.001, 0.002, 1.000);
}

div.menu {
  	min-height: 100%;
  	min-width: 100%;
}

.menu-splitL.animate, .menu-splitR.animate {
    top: 90px;
    width: 50%;
}

.menu-splitL, .menu-splitR{
  	overflow:hidden;
  	position: absolute;
    margin: 0;
    padding: 0;
  	top: 90px;
  	left: 0;
  	width: 0;
    z-index: 10;
}

.menu-splitR {
    left:50%;
}

div.menu ul li {
    font-size: 19px;
    list-style: none;
	margin-top: 40px;
	text-align: center;
    width: 100%;

	-moz-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -ms-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -o-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -webkit-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);

}

div.menu ul li a {
	color: $white;
	text-transform:uppercase;
	text-decoration:none;
	letter-spacing: 3px;
}

div.menu--white-nav ul li a {
    color: $primary;
}

section > div {
    transition: transform 1s;
    transform: translateX(0px);
}

div.menu li.animate{
	font-size:19px;
	opacity:1;
	-webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

.menu-splitL li:nth-of-type(1){	margin-left: 100%;transition-delay: 0.12s;}
.menu-splitL li.animate:nth-of-type(1){	margin-left: 50%;	transition-delay: 0.0s;	}

.menu-splitL li:nth-of-type(2){	margin-left: 100%;	transition-delay: 0.09s;}
.menu-splitL li.animate:nth-of-type(2){	margin-left: 50%;	transition-delay: 0.05s;}

.menu-splitL li:nth-of-type(3){	margin-left:100%;	transition-delay: 0.046s;}
.menu-splitL li.animate:nth-of-type(3){	margin-left: 50%;	transition-delay: 0.1s;}

.menu-splitL li:nth-of-type(4){	margin-left:100%;transition-delay: 0.03s;}
.menu-splitL li.animate:nth-of-type(4){	margin-left: 50%;	transition-delay: 0.15s;}

.menu-splitL li:nth-of-type(5){	margin-left:100%;	transition-delay: 0.0s;	}
.menu-splitL li.animate:nth-of-type(5){	margin-left: 50%;	transition-delay: 0.2s;	}



.menu-splitR li:nth-of-type(1){	margin-left:-100%;transition-delay: 0.12s;}
.menu-splitR li.animate:nth-of-type(1){	margin-left:-50%;	transition-delay: 0.0s;	}

.menu-splitR li:nth-of-type(2){	margin-left:-100%;	transition-delay: 0.069s;}
.menu-splitR li.animate:nth-of-type(2){	margin-left:-50%;	transition-delay: 0.05s;}

.menu-splitR li:nth-of-type(3){	margin-left:-100%;	transition-delay: 0.06s;}
.menu-splitR li.animate:nth-of-type(3){	margin-left:-50%;	transition-delay: 0.1s;}

.menu-splitR li:nth-of-type(4){	margin-left:-100%;transition-delay: 0.03s;}
.menu-splitR li.animate:nth-of-type(4){	margin-left:-50%;	transition-delay: 0.15s;}

.menu-splitR li:nth-of-type(5){	margin-left:-100%;	transition-delay: 0.0s;	}
.menu-splitR li.animate:nth-of-type(5){	margin-left:-50%;	transition-delay: 0.2s;	}
