{% extends "base.html" %}
{% load static %}


{% block header %}
    {% include 'includes/_header.html' with color="white" %}
{% endblock %}


{% block main-content %}
    <div class="page">

        <div class="heading__page">Blogs</div>

        {# Blog's List #}
        <div class="container">
            <div class="grid grid--center">
                {% for blog in blogs %}
                    <div class="grid__item one-whole mobile--one-half desktop--one-third">
                        {% include 'includes/_news-tile.html' with img=blog.header_image.url  title=blog.title blurb=blog.blurb date=blog.created|date:'N d, Y' slug=blog.slug %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock main-content %}
