{% extends "base.html" %}
{% load static data_tags%}

{% block main-content %}

    <div class="page">
        {# Jumbotron #}
        <div class="jumbotron">
            <div class="homepage_header-title heading__page">
                <div class="homepage_header-title__text heading__page--white">Meme<br><br>Market</div>
                <div class="pepe-face"><img width="120" src="../static/img/temp/Sad_Pepe.png" alt=""></div>
            </div>

            <div class="homepage__search-bar">
                <span class="fa fa-search"></span>
                <input id="autocomplete_search" placeholder="Search Dank Meme" type="text"></input>
            </div>

        </div>

        <div class="container">
            <div class="grid grid--center">
                <div class="grid__item desktop--one-third">
                    <div class="base-card">
                        {% spaceless %}
                        <a href="#" class="metrics-tile__section">
                            <div class="heading__3">Latest Trends (Daily)</div>
                        </a>
                        {% include 'includes/_metrics-tile__section.html' with title="Bad luck Brian" score=4.35 percentage=-3.56 %}
                        {% include 'includes/_metrics-tile__section.html' with title="Pepe" score=2.35 percentage=2.56 %}
                        {% include 'includes/_metrics-tile__section.html' with title="Cash me outside" score=9.35 percentage=-5.52 %}
                        {% include 'includes/_metrics-tile__section.html' with title="King Arthur" score=8.35 percentage=134.42 %}
                        {% endspaceless %}
                    </div>
                </div>

                <div class="grid__item desktop--two-thirds">
                    <div class="base-card metrics-tile__section">
                        <canvas id="myChart" width="300" height="200"></canvas>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock main-content %}

{% block scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript" src="/static/js/src/handleHomepageCharts.js"></script>
{% endblock scripts %}

{% block inlinescripts %}
  <script type="text/javascript">
    $(document).ready(function() {
        var data = '{{ data|safe }}';
        initChartFromJSONString(data);
    });
  </script>
{% endblock inlinescripts %}
