{% extends "base.html" %}
{% load static %}

{% block main-content %}

    {# Jumbotron #}
    <div class="homepage-section-jumbotron"
        style="background-image: linear-gradient(to top right, rgba(51,122,183, 0.5), rgba(0, 0, 0, 0.7)), url({% static 'img/fallback/blog-header.jpg' %});">
        <div class="heading__page heading__page--white">News</div>
        <p>Blogs and stuff</p>
    </div>

    {# Blog's List #}
    <div class="container">
        <div class="grid grid--center">
            {% for blog in blogs %}
                <div class="grid__item one-whole mobile--one-half desktop--one-third">
                    {% include 'includes/_news-tile.html' with img=blog.header_image.url  title=blog.title blurb=blog.blurb date=blog.created|date:'N d, Y' slug=blog.slug %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock main-content %}
