{% extends "base.html" %}

{% load static %}

{% block header %}
    {% include 'includes/_header.html' with color="white" %}
{% endblock %}

{% block main-content %}
    <div class="page">
        <div class="container">
                <div class="heading__page">
                    Something
                </div>

                <canvas id="myChart" width="300" height="100"></canvas>
        </div>
    </div>
{% endblock main-content %}

{% block scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript" src="/static/js/src/handleMemepageCharts.js"></script>
{% endblock scripts %}
